/* your styles go here */
.hero-image {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 300px;
  margin-bottom: 20px;
}

.content-column-content p {
  color: black;
}

.content-column-content li {
  color: black;
}
